 <div class="header-nav">
 	<a class="navbar-link" href="/debug">Home</a>
 	<a class="navbar-link" href="/team_years">Team Years</a>
 	<a class="navbar-link" href="/players">Players</a>
 	<a class="navbar-link" href="/player_games">Player Games</a>
 	<a class="navbar-link" href="/player_predictions">Player Predictions</a> 
 	<a class="navbar-link" href="/debug">Debug</a> 
</div>
  
<br/>
<p>&nbsp;</p>
<br/>


